<h1>Acerca de ElcanWeight</h1>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-8 col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Elcan Weight v1.0</h3>
      </div>
      <div class="panel-body">
        <p><strong>(c) 2018 - ElcanSoftware</strong></p>
        <p>Developed by M.O.Villarroel</p>
      </div>
    </div>
  </div>
</div>
